<!DOCTYPE html>
<html>

<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>

<body>
    <h1 class="title">Ramayanam Quiz</h1>
    <form action="/submit_quiz" method="post">
        {% for question in questions %}
        <div class="question-item">
            <p class="question">{{ loop.index }}. {{ question.question }}</p>
            <div class="choices-container">
                {% for choice in question.choices %}
                <label class="choice-label">
                    <input type="radio" name="question_{{ question.id }}" value="{{ choice }}" {% if
                        user_answers.get('question_' + question.id|string )==choice %}checked{% endif %}>
                    {{ choice }}
                </label>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div class="button-container">
            <button type="submit">Submit Quiz</button>
        </div>
        <div class="link-container">
            <a href="/" class="button">Back to Home</a>
        </div>
    </form>
</body>

</html>